<!DOCTYPE html>
<html lang="en" ng-app="gapi">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="static/js/ng-controller.js"></script>
    <title>gAPI</title>
</head>
<body ng-controller="SampleController">
    <input type="hidden" ng-init="loadData()"/>
    ~ welcome to the GAPI ~
    <br/><br/>

    <div>
        <h2>Show me the GAMES</h2>
        <ul>
            <span ng-repeat="game in allGames">
                <li>{{game}} <button ng-click="deleteGame(game.Id)">delete</button> </li>
            </span>
        </ul>

        <h4>Create a new game:</h4>
        Name: <input type="text" ng-model="newGameName"/>
        <input type="button" value="create" ng-click="createGame(newGameName)"/><br/><br/>
    </div>

    <div>
        <h2>Players</h2>
        <ul>
            <span ng-repeat="player in allPlayers">
                <li>{{player}} <button ng-click="deletePlayer(player.Id)">delete</button> </li>
            </span>
        </ul>

        <h4>Create a new player:</h4>
        Name: <input type="text" ng-model="newPlayerName"/>
        <input type="button" value="create" ng-click="createPlayer(newPlayerName)"/><br/><br/>
    </div>

    <div>
        <h2>Outcomes</h2>
        <ul>
            <span ng-repeat="outcome in allOutcomes">
                <li>{{outcome}} <button ng-click="deleteOutcome(outcome.Id)">delete</button> </li>
            </span>
        </ul>

        <h4>Create a new outcome:</h4>
        Game ID: <input type="number" ng-model="newOutcomeGameId"/><br/>
        Player ID: <input type="number" ng-model="newOutcomePlayerId"/><br/>
        <input type="radio" name="Win" ng-model="newOutcomeResult" value="win">Win
        <input type="radio" name="Loss" ng-model="newOutcomeResult" value="loss">Loss
        <input type="radio" name="Tie" ng-model="newOutcomeResult" value="tie">Tie <br/>
        Score: <input type="number" ng-model="newOutcomeScore"/><br/>
        Date: <input type="text" ng-model="newOutcomeDate" placeholder="2017-08-24"/><br/>
        <input type="button" value="create" ng-click="createOutcome(newOutcomeGameId, newOutcomePlayerId, newOutcomeResult, newOutcomeScore, newOutcomeDate)"/><br/><br/>
    </div>
</body>
</html>