<!DOCTYPE html>
<html lang="en" ng-app="gapi">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="static/js/ng-controller.js"></script>
    <title>gAPI</title>
</head>
<body ng-controller="SampleController">
    <input type="hidden" ng-init="loadData()"/>
    ~ welcome to the GAPI ~
    <br/> is angular working? {{angularTest}}
    <br/><br/>

    <div>
        <h3>Show me the GAMES</h3>
        <ol>
            <span ng-repeat="game in allGames">
                <li>{{game}}</li>
            </span>
        </ol>
    </div>
    <div>
        <h3>Players</h3>
        <ol>
            <span ng-repeat="player in allPlayers">
                <li>{{player}}</li>
            </span>
        </ol>
    </div>
    <div>
        <h3>Outcomes</h3>
        <ol>
            <span ng-repeat="outcome in allOutcomes">
                <li>{{outcome}}</li>
            </span>
        </ol>
    </div>
</body>
</html>